OPENAI_API_KEY=openai_api_key
DB_HOST='db (use "localhost" for local dev)'
DB_PORT='5432 (use "5433" for local dev)'
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=db_name
REDIS_URL='redis://redis:6379/0 (use "redis://localhost:6379/0" for local dev)'
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
S3_ENDPOINT_URL=http://minio:9000
S3_ACCESS_KEY_ID=s3_access_key_id
S3_SECRET_ACCESS_KEY=s3_secret_access_key
S3_BUCKET=s3_bucket
S3_REGION=us-east-1
MINIO_ROOT_USER=minio_root_user
MINIO_ROOT_PASSWORD=minio_root_password
