OPENAI_API_KEY=openai_api_key
DB_HOST='db (use "localhost" for local dev)'
DB_PORT='5432 (use "5433" for local dev)'
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=db_name
REDIS_URL='redis://redis:6379/0 (use "redis://localhost:6379/0" for local dev)'
CELERY_BROKER_URL='redis://redis:6379/1 (use "redis://localhost:6379/1" for local dev)'
CELERY_RESULT_BACKEND='redis://redis:6379/2 (use "redis://localhost:6379/2" for local dev)'
S3_ENDPOINT_URL='http://minio:9000 (use "http://localhost:9000" for local dev)'
S3_ACCESS_KEY_ID=s3_access_key_id
S3_SECRET_ACCESS_KEY=s3_secret_access_key
S3_BUCKET=s3_bucket
S3_REGION=us-east-1
MINIO_ROOT_USER=minio_root_user
MINIO_ROOT_PASSWORD=minio_root_password
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=60
ENV=dev